.header {
	position: absolute;
	z-index: 2020;
	top: 35px;
	left: 0;
	width: 100%;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: transparent;
		transition: all 0.3s ease-in-out;
		z-index: 3;
	}
	&.fixed:before {
		// background-color: rgba(0, 0, 0, 0.6);
	}
}

.header__body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 85px;
	position: relative;
}

.header__logo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 3;
	& img {
		max-width: 100%;
		display: block;
	}
}

.header__burger {
	display: none;
}

.header__list {
	display: flex;
	position: relative;
	z-index: 3;
}

.header__list li {
	padding: 0px 37.5px;
	position: relative;

	&:nth-child(2) {
		padding: 0px 110px 0px 37.5px;
	}
	&:nth-child(3) {
		padding: 0px 37.5px 0px 110px;
	}
	&:after {
		content: "";
		position: absolute;
		width: 2px;
		height: 2px;
		border-radius: 50%;
		background-color: #4d4959;
		top: 50%;
		right: 0;
		margin-top: -1px;
	}

	&:last-child,
	&:nth-child(2) {
		&:after {
			display: none;
		}
	}

	& .header__link {
		color: #4d4959;
		font-size: 13px;
		font-weight: 700;
		letter-spacing: 2.6px;
		transition: all 0.2s ease-in;
		text-transform: uppercase;
		&:hover {
			opacity: 0.8;
		}
	}
}

@media (max-width: 767px) {
	body.lock {
		overflow: hidden;
		.header:before {
			background-color: #4d4959;
		}
	}
	.header {
		top: 15px;
	}
	.header:before {
		background-color: transparent;
	}
	.header__body {
		justify-content: flex-end;
	}
	.header__logo {
	}
	.header__burger {
		display: block;
		width: 22px;
		height: 20px;
		position: relative;
		z-index: 3;
	}
	.header__burger span {
		content: "";
		position: absolute;
		display: block;
		left: 0;
		top: 8px;
		width: 100%;
		height: 3px;
		background-color: #241e36;
		transition: all 0.3s linear;
		border-radius: 1px;
	}
	.header__burger:before,
	.header__burger:after {
		content: "";
		position: absolute;
		display: block;
		left: 0;
		width: 100%;
		height: 3px;
		background-color: #241e36;
		transition: all 0.3s linear;
		border-radius: 1px;
	}
	.header__burger:before {
		top: 0;
	}
	.header__burger:after {
		bottom: 0;
	}
	.header__burger.active span {
		transform: scale(0);
	}
	.header__burger.active:before {
		top: 8px;
		transform: rotate(135deg);
	}
	.header__burger.active:after {
		bottom: 9px;
		transform: rotate(-135deg);
	}
	.header__menu {
		position: fixed;
		top: -100%;
		right: 0%;
		height: 100%;
		width: 100%;
		transition: all 0.3s linear;
		z-index: 2;
		overflow: auto;
		background-color: #4d4959;
		&.active {
			top: 0%;
		}
		& .header__list {
			padding: 150px 0px 20px 0px;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			& li {
				padding: 0 !important;
				margin: 0 0 45px 0;
				&:last-child,
				&:nth-child(2) {
					&:after {
						display: block;
					}
				}
				&:last-child {
					margin: 0;
				}
				& .header__link {
					font-size: 25px;
					color: #fff;
				}
				&:after {
					width: 4px;
					height: 4px;
					background-color: #fff;
					top: 40px;
					right: 50%;
					margin-top: -1px;
				}
			}
		}
	}
}
