@import "_reset.scss";
@import "_normalize.scss";
@import "_fonts.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");

html {
	height: 100%;
}

body {
	font-family: "Lato", sans-serif;
	font-size: 14px;
	color: rgb(121, 11, 246);
	height: 100%;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
}

.container {
	max-width: 1130px;
	padding: 0px 15px;
	margin: 0 auto;
}

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	font-size: 0;
}

.main-screen {
	flex: 1 0 100%;
	position: relative;
}

.main-screen__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.ibg img {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

@import "_header.scss";

.generation {
	padding: 120px 0px;
	background-color: #f7f7f7;
	@media (max-width: 900px) {
		padding: 80px 0px;
	}
	@media (max-width: 600px) {
		padding: 30px 0px;
	}
}
.block {
	text-align: center;
}
.block__icon {
	margin: 0px 0px 30px 0px;
}
.block__title {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: #353738;
	letter-spacing: 3.6px;
	margin: 0px 0px 18px 0px;
	line-height: 24px;
}
.block__text {
	font-size: 18px;
	line-height: 36px;
	color: #848789;
	&-j {
		text-align: justify;
		font-size: 16px;
		line-height: 30px;
		&:after {
			content: "";
			display: block;
			margin: 35px auto 0px auto;
			width: 50px;
			height: 1px;
			background-color: #d7d7d7;
		}
	}
	@media (max-width: 1500px) {
		&-j {
			&:after {
				margin: 15px auto 0px auto;
			}
		}
	}
}

.brands {
	&__rev {
		.brands__column {
			order: 1;
			&-b {
				order: 2;
			}
		}
	}
	&__row {
		display: flex;
	}

	&__column {
		flex: 0 1 33.333%;
	}

	&__column-b {
		flex: 0 1 66.667%;
	}

	&__item {
	}

	&__content {
		padding: 70px 65px 55px 65px;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			bottom: -10px;
			left: 50%;
			margin: 0px 0px 0px -10px;
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid #fff;
			z-index: 1;
		}
	}
	&__image {
		padding: 0px 0px 37.51% 0px;
	}
	@media (max-width: 1500px) {
		&__content {
			padding: 40px 35px 30px 35px;
		}
	}
	@media (max-width: 1100px) {
		&__last {
			.brands__column {
				&:nth-child(1) {
					order: 2;
				}
				&:nth-child(2) {
					order: 1;
				}
				&:nth-child(3) {
					order: 3;
				}
			}
		}
		&__row {
			flex-direction: column;
		}
	}
}

.item {
	display: block;
	position: relative;
	height: 100%;
	&__logo {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 2;
		background-color: rgba(100, 194, 158, 0.5);
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s linear 0s;
		span {
			margin: 10px 0px 0px 0px;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 2.8px;
			color: #fff;
		}
	}

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	&:hover {
		.item__logo {
			opacity: 1;
			visibility: visible;
		}
	}
	@media (max-width: 1100px) {
		height: auto;
		padding-bottom: 70%;
	}
}

.slider {
	background-color: #f7f7f7;
	padding: 120px 0px 60px 0px;
	@media (max-width: 767px) {
		padding: 50px 0px;
		.slick-dots {
			padding: 50px 0px 0px 0px;
		}
	}
}
.slider__body {
	position: relative;
}
.slider__item {
	text-align: center;
}
.slider__icon {
	margin: 0px 0px 35px 0px;
}
.slider__title {
	color: #353738;
	margin: 0px 0px 20px 0px;
	font-size: 18px;
	font-weight: 700;
	span {
		font-weight: 300;
		color: #848789;
	}
}
.slider__text {
	text-align: center;
	color: #848789;
	font-style: italic;
	font-size: 24px;
	line-height: 34px;
}

/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track {
	display: flex;
	align-items: flex-start;
}
/* Слайд */
.slick-slide {
	outline: none;
}
/* Точки (булиты) */
.slick-dots {
	display: flex;
	justify-content: center;
	padding: 100px 0px 0px 0px;
	li {
		button {
			font-size: 0;
			padding: 0;
			width: 11px;
			height: 11px;
			background-color: transparent;
			border-radius: 50%;
			border: 1px solid #c8c8c8;
			&:focus {
				outline: none;
			}
		}
		margin: 5px;
		&.slick-active {
			button {
				background-color: #a9afb3;
			}
		}
	}
}

.shop {
	&__body {
		display: flex;
	}

	&__column {
		flex: 0 1 16.666%;
		&_b {
			flex: 0 1 33.333%;
		}
	}

	&__block {
	}

	&__footer {
		padding: 75px 0px;
		text-align: center;
		background-color: #282f35;
	}

	&__btn {
		display: inline-block;
		font-size: 14px;
		text-transform: uppercase;
		height: 50px;
		line-height: 48px;
		color: #fff;
		padding: 0px 60px;
		border: 1px solid rgba(255, 255, 255, 0.5);
		letter-spacing: 2.8px;
		font-weight: 700;
	}

	@media (max-width: 1100px) {
		&__body {
			flex-wrap: wrap;
		}
		&__column {
			flex: 0 1 50%;
			&:first-child {
				flex: 1 1 100%;
			}
			&:last-child {
				flex: 1 1 100%;
			}
		}
		&__footer {
			padding: 50px 0px;
		}
		&__btn {
			padding: 0px 30px;
		}
	}
}
.block-shop {
	height: 100%;
	&__row {
		display: flex;
	}

	&__column {
		flex: 0 1 50%;
	}

	&__item {
		height: auto;
		padding: 0px 0px 50% 0px;
		&_b {
			padding: 0px 0px 200.5% 0px;
		}
		&_l {
			padding: 0px 0px 100% 0px;
		}
	}
}

.subscribe__body {
	padding: 110px 0px;
	max-width: 534px;
	margin: 0 auto;
	text-align: center;
	@media (max-width: 750px) {
		padding: 50px 0px;
	}
	@media (max-width: 500px) {
		.subscribe__form {
			display: block;
		}
		.subscribe__input {
			padding: 0px 0px 8px 0px;
		}
	}
}
.subscribe__logo {
	margin: 0px 0px 39px 0px;
}
.subscribe__label {
	color: #848789;
	font-size: 24px;
	margin: 0px 0px 35px 0px;
	font-style: italic;
}
.subscribe__form {
	display: flex;
}
.subscribe__input {
	flex: 1 1 auto;
	padding: 0px 8px 0px 0px;
	.input {
		width: 100%;
		height: 69px;
		border: 1px solid #d3d7d9;
		background-color: #fff;
		padding: 0px 28px;
		color: #929292;
		font-size: 20px;
		font-style: italic;
		&:focus {
			font-style: normal;
			color: #333;
		}
		&:-ms-clear {
			display: none;
		}
	}
}
.subscribe__button {
	flex: 0 0 126px;
}
.subscribe__btn {
	width: 100%;
	height: 69px;
	line-height: 69px;
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
	background-color: #64c29e;
	padding: 0;
	border: 0;
}

input:focus::-webkit-input-placeholder {
	color: transparent;
}
input:focus:-moz-placeholder {
	color: transparent;
} /* FF 4-18 */
input:focus::-moz-placeholder {
	color: transparent;
} /* FF 19+ */
input:focus:-ms-input-placeholder {
	color: transparent;
} /* IE 10+ */

.footer {
	background-color: #f7f7f7;
	padding: 100px 0px;

	// .footer__row
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .footer__column

	&__column {
		flex: 0 1 33.333%;
	}

	&__address {
		font-size: 14px;
		color: #848789;
		line-height: 18px;
		p {
			&:first-child {
				font-weight: 700;
			}
		}
	}

	// .footer__social

	&__social {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// .footer__dev

	&__dev {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	@media (max-width: 1100px) {
		padding: 50px 0px;
	}
	@media (max-width: 600px) {
		padding: 30px 0px;
		&__row {
			flex-direction: column;
			text-align: center;
		}
		&__social {
			margin: 15px 0px;
		}
	}
}
.social {
	// .social__link

	&__link {
		margin: 0px 7.5px;
	}
}
.dev {
	// .dev__text

	&__text {
		color: #848789;
		font-size: 14px;
		font-style: italic;
		padding: 0px 9px 0px 0px;
	}
}
