@import "_reset.scss";
@import "_normalize.scss";
@import "_fonts.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");

html {
	height: 100%;
}

body {
	font-family: "Lato", sans-serif;
	font-size: 14px;
	color: rgb(121, 11, 246);
	height: 100%;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
}

.container {
	max-width: 1130px;
	padding: 0px 15px;
	margin: 0 auto;
}

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	font-size: 0;
}

.main-screen {
	flex: 1 0 100%;
	position: relative;
}

.main-screen__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.ibg img {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

@import "_header.scss";

.generation {
	padding: 120px 0px;
	background-color: #f7f7f7;
	@media (max-width: 900px) {
		padding: 80px 0px;
	}
	@media (max-width: 600px) {
		padding: 30px 0px;
	}
}
.block {
	text-align: center;
}
.block__icon {
	margin: 0px 0px 30px 0px;
}
.block__title {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: #353738;
	letter-spacing: 3.6px;
	margin: 0px 0px 18px 0px;
	line-height: 24px;
}
.block__text {
	font-size: 18px;
	line-height: 36px;
	color: #848789;
	&-j {
		text-align: justify;
		font-size: 16px;
		line-height: 30px;
		&:after {
			content: "";
			display: block;
			margin: 35px auto 0px auto;
			width: 50px;
			height: 1px;
			background-color: #d7d7d7;
		}
	}
	@media (max-width: 1500px) {
		&-j {
			&:after {
				margin: 15px auto 0px auto;
			}
		}
	}
}

.brands {
	&__rev {
		.brands__column {
			order: 1;
			&-b {
				order: 2;
			}
		}
	}
	&__row {
		display: flex;
	}

	&__column {
		flex: 0 1 33.333%;
	}

	&__column-b {
		flex: 0 1 66.667%;
	}

	&__item {
	}

	&__content {
		padding: 70px 65px 55px 65px;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			bottom: -10px;
			left: 50%;
			margin: 0px 0px 0px -10px;
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid #fff;
			z-index: 1;
		}
	}
	&__image {
		padding: 0px 0px 37.51% 0px;
	}
	@media (max-width: 1500px) {
		&__content {
			padding: 40px 35px 30px 35px;
		}
	}
	@media (max-width: 1100px) {
		&__row {
			flex-direction: column;
		}
	}
}

.item {
	display: block;
	position: relative;
	height: 100%;
	&__logo {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 2;
		background-color: rgba(100, 194, 158, 0.5);
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s linear 0s;
	}

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	&:hover {
		.item__logo {
			opacity: 1;
			visibility: visible;
		}
	}
	@media (max-width: 1100px) {
		height: auto;
		padding-bottom: 70%;
	}
}
